<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netcom.netsmartapp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Netsmartapp">
        <activity android:name=".LoginActivity"></activity>
<!--         <activity android:name=".HomePageActivity"></activity>-->
        <activity android:name=".verify_otp_activity" />
        <activity android:name=".ClassSelectionActivity" />
        <activity android:name=".boardActivity" />
        <activity android:name=".termsConditionsActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".introactivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".HomePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>